---
layout: page
---

{{ content }}

{%- if author.picture -%}
  {%- if author.picture contains "://" -%}
    {%- assign author_picture = author.picture -%}
  {%- else -%}
    {%- assign author_picture = author.picture | relative_url -%}
  {%- endif -%}
  <img src="{{ author_picture }}" class="author-avatar u-photo" alt="{{ author.name }}">
{%- endif -%}

Hi, My name is Geunyoung Gil in Canada. <br/>
I'm an enthusiast to implement deep learning solutions for real world.
I enjoy to combine deep learning algorithms with web platforms.
I have been improving my deep learning skills through online courses and materials.
<br/><br/>
For more information, please check my LinkedIn.
